# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\pi-clap-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
